################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StupidCalc/v14/.suo
/bin/Debug
/obj/Debug
